@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;600;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Lato', sans-serif;
}

summary::-webkit-details-marker {
  display: none;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.header {
  height: 75px;
  background-color: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__search {
  margin-left: 41px;
}

.header__account {
  margin-left: 34px;
  margin-right: 34px;
}

/* PROMO */
.promo {
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
  background: rgba(113, 103, 105, 0.08);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.promo__left {
  width: 50%;
}

.promo__img {
  width: 100%;
}

.promo__right {
  width: 50%;
  background: #f1e4e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 64px;
}

.promo__text__img {
  height: 92px;
  margin-right: 16px;
}

.promo__heading {
  font-weight: 900;
  font-size: 48px;
  line-height: 57, 6px;
}

.promo__text {
  font-weight: 700;
  font-size: 32px;
  line-height: 38, 4px;
}

.accent {
  color: #f26376;
}

/* BROWSE */
.browse {
  padding-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.browse__item {
  position: relative;
}

.browse__item:not(:last-child) {
  margin-right: 30px;
}

.browse__img {
  width: 100%;
}

.browse__content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
  left: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.browse__text {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
}

.browse__heading {
  font-size: 24px;
  font-weight: 700;
}

.browse__big {
  position: relative;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* FEATURED */
.featured {
  margin-top: 97px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.featured__heading {
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
}

.featured__text {
  font-size: 14px;
  color: #9f9f9f;
  padding-top: 6px;
  margin-bottom: 48px;
}

.browse__button {
  margin-top: 18px;
  padding: 14px 38px;
  border: 1px solid #F16D7F;
}

.browse__button:hover {
  background: #FF6A6A;
}

.browse__button:hover .browse__button__text {
  color: #ffffff;
}

.browse__button__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #FF6A6A;
}

.browse__button__text_ml {
  margin-left: 23px;
}

/* SALES */
.sales {
  background: #222224;
  margin-top: 95px;
}

.sales__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.sales__info__block {
  padding-top: 104px;
  padding-bottom: 104px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sales__info__heading {
  padding-top: 28px;
  padding-bottom: 16px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FBFBFB;
}

.sales__info__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #7a7a7a;
  text-align: center;
}

/* SUBMIT */
.submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.submit__bg__img {
  width: 100%;
}

.submit__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.submit__content__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 360px;
}

.submit__text {
  padding-top: 36px;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.submit__form {
  padding-top: 36px;
}

.submit__form__text {
  font-size: 18px;
}

.submit__button {
  margin-left: -4px;
  color: #ffffff;
  padding: 17px;
  border-radius: 0 50px 50px 0;
  border: none;
  background: #F16D7F;
  width: 100px;
}

.submit__button:hover {
  background-color: #d86373;
}

.italic {
  font-style: italic;
}

.submit__content__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 125px;
  /*хочется отключить, т.к. с ним выглядит странно, но на макете так */
}

.email__input {
  background: #e1e1e1;
  padding: 17px;
  border-radius: 50px 0 0 50px;
  border: none;
  width: 256px;
}

/* FOOTER */
.footer {
  background: #222224;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copyright {
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
  padding-top: 30px;
  padding-bottom: 30px;
}

.social__link:not(:last-child) {
  padding-right: 7px;
}

.social__link:hover .social__invert {
  fill: #FBFBFB;
}

.social__link:hover .social__pink {
  fill: #F16D7F;
}

/* !!PAGE CATALOG */
.nav__block {
  background: #F8F3F4;
}

.nav__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.current__page {
  font-weight: 400;
  padding-top: 60px;
  padding-bottom: 60px;
}

/* !!PAGE CATALOG */
.sort {
  padding-top: 39px;
  padding-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  /*padding-left: 16px; */
}

.sort__filter {
  position: absolute;
  padding-top: 16px;
}

.sort__param {
  margin-left: calc(33.33333% + 15px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 16px;
}

.sort__filter_active:hover {
  width: 360px;
  background: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 16px;
  position: absolute;
  z-index: 1;
}

.sort__filter_active:hover path {
  fill: #F16D7F;
}

.sort__filter_active:hover .sort__text {
  color: #F16D7F;
}

.sort__items {
  display: none;
}

.sort__filter_active:hover .sort__items {
  display: block;
}

.sort__ul {
  list-style-type: none;
}

.sort__open {
  position: relative;
}

.sort__size {
  background: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 8px 30px 8px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 24px;
  left: 8px;
  z-index: 1;
}

.sort__quick {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: calc(33.33333% + 15px);
  padding-top: 16px;
}

.sort__quick__heading {
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.sort__quick__img {
  padding-left: 9px;
}

.sort__quick__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 28px;
  position: relative;
}

.sort__quick__list {
  position: absolute;
  left: 0;
  width: 100%;
  min-width: 79px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1;
  background: #fff;
  padding: 7px;
  margin-top: 5px;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.sort__quick__checkbox {
  margin-right: 9px;
}

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 48px;
}

.catalog__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.catalog__link:last-child {
  font-weight: bold;
  color: #F16D7F;
}

.catalog__link:not(:last-child)::after {
  content: "/";
  padding-left: 5px;
  padding-right: 5px;
}

.catalog__paging {
  margin-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 280px;
  border: 1px solid #EBEBEB;
  border-radius: 4px;
  padding: 14px;
}

.catalog__paging__number {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #9f9f9f;
}

.product__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 360px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #f8f8f8;
  position: relative;
}

.product__card:hover .product__img {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.product__card:hover .product__add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product__mb {
  margin-bottom: 30px;
}

.product__heading {
  padding-top: 24px;
  padding-left: 18px;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}

.product__text {
  padding-top: 12px;
  padding-left: 18px;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  color: #5d5d5d;
}

.product__page {
  background: #F7F7F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 777px;
}

.product__page__catalog__margin {
  margin-top: 128px;
  margin-bottom: 128px;
}

.product__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  position: absolute;
  margin-top: 712px;
  border: 1px solid #EAEAEA;
  padding: 65px 250px;
}

.product__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  margin-left: calc(50% - 570px);
  margin-right: calc(50% - 570px);
  width: 1140px;
  position: relative;
  margin-top: -65px;
  border: 1px solid #EAEAEA;
  padding: 65px 250px;
  z-index: 1;
}

.product__info__line__top {
  width: 63px;
  height: 3px;
  background: #EF5B70;
  border: 1px solid #EF5B70;
  margin-top: 12px;
  margin-bottom: 12px;
}

.product__info__heading {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
}

.product__info__desc {
  width: 555px;
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5E5E5E;
  margin-top: 48px;
  margin-bottom: 32px;
}

.product__info__price {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}

.product__info__line__bottom {
  width: 640px;
  border: 1px solid #EAEAEA;
  margin-top: 65px;
  margin-bottom: 65px;
}

.product__filter__block {
  margin-left: 0;
}

.product__add {
  position: absolute;
  top: 188px;
  left: 111px;
  width: 139px;
  height: 44px;
  border: 1px solid white;
  border-radius: 5px;
  color: #FBFBFB;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}

.product__add:hover {
  -webkit-box-shadow: 0 0 7px #fff;
          box-shadow: 0 0 7px #fff;
}

.product__add__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 53px;
}

.product__add__img {
  padding-left: 23px;
}

.product__add__img:hover {
  fill: #fff;
}

.price {
  padding-top: 18px;
  padding-left: 18px;
  padding-bottom: 20px;
}

/* !!PAGE CART */
.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 96px;
  margin-bottom: 128px;
}

.cart__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 652px;
  background: #FFFFFF;
  -webkit-box-shadow: 15px 15px 30px -5px rgba(0, 0, 0, 0.21);
          box-shadow: 15px 15px 30px -5px rgba(0, 0, 0, 0.21);
}

.cart__item_mb {
  margin-bottom: 40px;
}

.cart__item__content {
  margin-top: 22px;
  margin-left: 31px;
  margin-bottom: 62px;
}

.cart__item__heading {
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  width: 262px;
  margin-bottom: 42px;
}

.cart__item__features {
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}

.cart__item__quantity {
  border: 1px solid #EAEAEA;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: 21px;
}

.cart__item__delete {
  position: absolute;
  top: 28px;
  right: 22px;
  height: 18px;
}

.cart__item__delete:hover .cart__cross__color {
  fill: #F16D7F;
}

.cart__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 72px;
}

.cart__buttons__button {
  border: 1px solid #A4A4A4;
  padding: 16px 38px;
}

.cart__buttons__button:hover {
  border: 1px solid #fff;
  background: #F16D7F;
  color: #fff;
}

.cart__buttons__button:visited {
  color: #000000;
}

.cart__buttons__button:visited:hover {
  color: #ffffff;
}

.cart__product__img {
  width: 262px;
}

.cart__shipping {
  margin-bottom: 57px;
  width: 360px;
}

.cart__shipping__heading {
  margin-bottom: 21px;
  color: #222222;
}

.cart__shipping__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart__shipping__form__field {
  padding: 15px;
  border: 1px solid #A4A4A4;
  margin-bottom: 21px;
}

.cart__shipping__form__button {
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #757575;
  padding: 9px;
  width: 100px;
  border: 1px solid #A4A4A4;
  background: none;
}

.cart__shipping__form__button:hover {
  border: 1px solid #fff;
  background: #F16D7F;
  color: #fff;
}

.cart__checkout {
  background: #F5F3F3;
  padding: 42px;
}

.cart__checkout__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.cart__checkout__info__part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12px;
}

.cart__checkout__info__text {
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
}

.cart__checkout__info__text__grand {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.cart__checkout__info__subtotal {
  margin-left: 32px;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
}

.cart__checkout__info__grandtotal {
  margin-left: 32px;
}

.cart__checkout__line {
  margin-top: 21px;
  margin-bottom: 17px;
  border: none;
  background: #E2E2E2;
  height: 1px;
}

.cart__checkout__button {
  padding: 16px 43px;
  background: #F16D7F;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  display: inline-block;
}

.cart__checkout__button:visited {
  color: #FFF;
}

.cart__checkout__button:hover {
  background: #d86373;
}

/* !!PAGE REGISTER */
.register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 64px;
  margin-bottom: 96px;
}

.register__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 360px;
}

.register__form__heading {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 20px;
}

.register__form__input {
  padding: 16px;
  border: 1px solid #A4A4A4;
}

.register__form__input::-webkit-input-placeholder {
  color: #B1B1B1;
}

.register__form__input:nth-child(even) {
  margin-bottom: 20px;
}

.register__form__input:nth-child(7) {
  margin-bottom: 15px;
}

.register__form__text {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.register__form__button {
  width: 167px;
  padding: 16px 26px;
  background: #F16D7F;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  border: none;
  margin-top: 39px;
}

.register__form__button:hover {
  background: #d86373;
}

.register__form__button__img {
  margin-left: 20px;
}

.register__gender {
  margin-top: 34px;
  margin-bottom: 34px;
}

.register__gender__selector {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.register__gender__text {
  font-weight: 300;
  font-size: 13px;
  line-height: 13px;
  text-align: center;
  margin-left: 10px;
  margin-right: 20px;
}

.register__features {
  width: 652px;
}

.register__features__heading {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 21px;
}

.register__features__text {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}

.register__perks {
  margin-top: 21px;
}

.register__perks__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
}

.register__perk__img {
  margin-right: 23px;
}
/*# sourceMappingURL=style.css.map */